*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h3 {
  background-color: red;
  color: gold;
}
