.main {
  position: relative;
  padding: 10rem 3rem;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 19rem));
    // grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    place-content: center;
  }
}
